apiVersion: apps/v1
kind: Deployment
metadata:
   labels:
      app: webapp
      env: production
   name:  httpd-frontend
spec:
   replicas: 3
   selector:
      matchLabels:
         app: webapp
   template:
     metadata:
        labels:
           app: webapp
           env: production
        name: mypod-d
     spec:
       containers:
         - image: httpd:2.4-alpine
           name: nginx-c
           ports:
             - containerPort: 80
